
.flex-item {
    width: 50px;
    height: 50px;
    background-color: blanchedalmond;
    border: 2px groove salmon;
}

/*Turns the outer div into a flexable box
    whiitch can control the layout of it's inner items
*/

.flex-container {
    display: flex;
    justify-content: space-evenly;
}